.sider{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}
.main_layout{
  min-height: 100vh;
}
.padding{
  padding: 0
}
.content{
  margin: 0 16px;
}
.content_padding{
  padding: 24px;
  margin-top: 8px;
  min-height: 360px;
}
.header_padding{
  margin: 8px 16px 0 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}